/* This is my main CSS file for the final class assignment - Responsive Web Design */

	/* http://meyerweb.com/eric/tools/css/reset/ 
	   v2.0 | 20110126
	   License: none (public domain)
	*/

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* ================================================================================== */
/* ================= Final Responsive Web Design I Class Assignment ================= */
/* ================================================================================== */

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-Italic.ttf');
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/OpenSans-BoldItalic.ttf');
}

/* ********************************************************* */
/* *************** Mobile Styling Begins Here ************** */

/* =============== Common Elements Styling Begins Here - Mobile =============== */

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	background-color: #FFFFFF;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

p{
	font-size: 100%;
	line-height: 1.5;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 71px;
	line-height: 98px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 48px;
	line-height: 98px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 36px;
	line-height: 98px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h4{
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
   	margin-left: auto;
    margin-right: auto;
}

button{
	font-family: 'Open Sans', sans-serif;
	font-size: 21px;
	text-align: center;
    margin-left: auto;
    margin-right: auto;
	background-color: black;
	color: #ffffff;
}

.SpanButton{
	width: 100%;
}

.SpanInput{
	width: 100%;
	height: 35px;
}

label {
	float: left;
}

textarea{
	height: 150px;
}

/* --------------- Common Elements Styling Ends Here - Mobile --------------- */

/* =============== Header Section CSS - Mobile =============== */

header {
	background-color: black;
	margin: 0 auto;
}

.SearchButton{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color:#c78c06;
	background-color: black;
	border-color: #c78c06;
}

.Container, .Grid-Container{
	width: 680px;
	margin: 0 auto;
}

.MenuWrap{
  display:flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: stretch;
}

.SearchCombo{
	display:flex;
	flex-direction: row;
	align-items: center;
	align-self: center;
}

a {
    color:#c78c06;
    text-decoration: none;
}

#home-highlight{
		background-color: #f44336;
		
		padding: 15px 25px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
}

/* End of Header Section CSS - Mobile */

/* =============== Welcome Section CSS - Mobile =============== */

.WelcomeButton {
	color: black;
	background-color: #c78c06;
}

.Welcome {
	width: 100%;
	height: 505px;
	background-color:rgba(46, 49, 49, 0.5); 
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.WelcomeWrapper {
	width: 100%;
	height: 600px;
	color: white;
	display: flex;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
}

/* End of Welcome Section CSS - Mobile */

/* =============== About Us Section CSS - Mobile =============== */

.AboutUsWrapper {
	display: flex;
	background-color: #ffe6ac;
	width: 100%;
	justify-content: space-evenly;
}

.AboutUsImage {
	width: 42%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.AboutUsText {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	width: 42%;
	display: flex;
}

/* End of About Us Section CSS - Mobile */

/* =============== Our Services Section CSS - Mobile =============== */

.OurServices {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	justify-items: center;
}

.ServicesHeader {
	grid-column: 1;
	grid-row: 1;
	align-self:flex-start;
}

.DigitalContainer {
	grid-column: 1;
	grid-row: 2;
	align-self: center;
	background-color: #ffe6ac;
	padding: 5px;	
}

.MarketingContainer {
	grid-column: 1;
	grid-row: 3;
	align-self: center;
	background-color: #ffe6ac;
	padding: 5px;
}

.VideoContainer {
	grid-column: 1;
	grid-row: 4;
	align-self: center;
	background-color: #ffe6ac;
	padding: 5px;	
}

.WebContainer {
	grid-column: 1;
	grid-row: 5;
	align-self: center;
	background-color: #ffe6ac;
	padding: 5px;
}

.PrintContainer {
	grid-column: 1;
	grid-row: 6;
	align-self: center;
	background-color: #ffe6ac;
	padding: 5px;	
}

/* End of Our Services Section CSS - Mobile */


/* =============== Our Vision Section CSS - Mobile =============== */

.VisionWrapper {
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* End of Our Vision Section CSS - Mobile */

/* =============== Our Team Section CSS - Mobile =============== */

.OurTeam {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
}

.TeamHeader {
	grid-column: 1;
	grid-row: 1;
	align-self:flex-start;
}

.john-image {
	grid-column: 1;
    grid-row: 2;
}

.john-text {
	grid-column: 1;
    grid-row: 3;
	background-color: #ffe6ac;
}

.bob-image {
	grid-column: 1;
    grid-row: 4;
}

.bob-text {
	grid-column: 1;
    grid-row: 5;
	background-color: #ffe6ac;
}

/* End of Our Team Section CSS - Mobile */

/* =============== Contact Us Section CSS - Mobile =============== */

.ContactUs {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	gap: 1em;
}

.ContactHeader {
	grid-column: 1;
	grid-row: 1;
	align-self:flex-start;
}

.EmailUs {
	grid-column: 1;
    grid-row: 2;
	align-content: flex-start;
	display:flex;
	flex-direction: column;
}

.Location {
	grid-column: 1;
    grid-row: 4;
}

.Hours {
	grid-column: 1;
    grid-row: 3;
}

.SendButton{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color:#c78c06;
	background-color: black;
	border-color: #c78c06;
}

.table, th, td {
	border: 1px solid black;
}

.table, th {
	background-color: #ffe6ac;
}

table {
	display: grid;
	border-collapse: collapse;
	min-width: 83%;
	grid-template-columns: 
	  minmax(50%, 1fr)
	  minmax(50%, 1fr)
  }
  
  thead,
  tbody,
  tr {
	display: contents;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
  }
  
  th,
  td {
	padding: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
  }
  
  th {
	position: sticky;
	top: 0;
	background: #ffe6ac;
	text-align: center;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
  }

/* End of Contact Us Section CSS - Mobile */

/* =============== Footer Section CSS - Mobile =============== */

footer {
	background-color: black;
	margin: 0 auto;
}

.FooterWrapper {
	width: 100%;
	background-color: black;
	color:#c78c06;
	display: flex;
}

.Copyright {
	padding-left: 6em;
	padding-top: 2em;
	padding-bottom: 2em;	
}

/* End of Footer Section CSS - Mobile */

/* *************** Mobile Styling Ends Here *************** */
/* ******************************************************** */



/* ********************************************************** */
/* *************** Desktop Styling Begins Here *************** */

/* =============== Common Elements Styling Begins Here - Desktop =============== */

@media screen and (min-width: 760px) {

	.Container, .Grid-Container{
		width: 680px;
		margin: 0 auto;
	}

	.WelcomeWrapper, .VisionWrapper {
		width: 100%;
		margin: 0 auto;
	}

	body{
		font-family: 'Open Sans', sans-serif;
		font-size: 16px;
		background-color: #FFFFFF;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	p{
		font-size: 100%;
		line-height: 1.5;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	button{
		font-family: 'Open Sans', sans-serif;
		font-size: 24px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		background-color: black;
		color: #ffffff;
	}
	
	h1{
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 81px;
		line-height: 112px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	
	h2{
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 54px;
		line-height: 98px;
		text-align:center;
		margin-left: auto;
		margin-right: auto;
	}
	
	h3{
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 36px;
		line-height: 98px;
		text-align: center;
   		margin-left: auto;
    	margin-right: auto;
	}
	
	h4{
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		font-size: 16px;
		text-align: center;
   		margin-left: auto;
    	margin-right: auto;
	}

/* --------------- Common Elements Styling Ends Here - Desktop --------------- */

/* =============== Header Section CSS - Desktop =============== */


.MenuWrap{
	display:flex;
	flex-direction: row;
	margin: 0 auto;
	justify-content:space-evenly;
  }

  #home-highlight{
	background-color: pink;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}


/* End of Header Section CSS - Desktop */

/* =============== Welcome Section CSS - Desktop =============== */

.Welcome {
	width: 83%;
	height: 505px;
	background-color:rgba(46, 49, 49, 0.5); 
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
}

.WelcomeWrapper {
	width: 100%;
	height: 600px;
	color: white;
	display: flex;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	align-items: center;
	justify-content: center;
}

/* End of Welcome Section CSS - Desktop */

/* =============== About Us Section CSS - Desktop =============== */

.AboutUsWrapper {
	display: flex;
	background-color: #ffe6ac;
	width: 100%;
	justify-content: space-evenly;
}

.AboutUsImage {
	width: 42%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.AboutUsText {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 21px;
	width: 42%;
	display: flex;
	flex-direction: column;
}

/* End of About Us Section CSS - Desktop */

/* =============== Our Services Section CSS - Desktop =============== */

.OurServices {
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(3, auto);
	justify-items: center;
	gap: 1em;
}

.ServicesHeader {
	grid-column: 1 / span 2;
	grid-row: 1 / 1;
	align-self:flex-start;
}

.DigitalContainer {
	grid-column: 1 / span 3;
	grid-row: 2 / 2;
	align-self:stretch;
}

.MarketingContainer {
	grid-column: 4 / span 3;
	grid-row: 2 / 2;
	align-self: stretch;
}

.VideoContainer {
	grid-column: 1 / span 2;
	grid-row: 3 / 3;
	align-self: stretch;
}

.WebContainer {
	grid-column: 3 / span 2;
	grid-row: 3 / 3;
	align-self: stretch;
}

.PrintContainer {
	grid-column: 5 / span 2;
	grid-row: 3 / 3;
	align-self: stretch;
}

/* End of Our Services Section CSS - Desktop */

/* =============== Our Vision Section CSS - Desktop =============== */

.VisionWrapper {
	color: white;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* End of Our Vision Section CSS - Desktop */

/* =============== Our Team Section CSS - Desktop =============== */

.OurTeam {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
}

.TeamHeader {
	grid-column: 1;
	grid-row: 1;
	align-self:flex-start;
}

.john-image {
	grid-column: 1 / 1;
    grid-row: 2 / 2;
}

.john-text {
	grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.bob-image {
	grid-column: 2 / 2;
    grid-row: 3 / 3;
}

.bob-text {
	grid-column: 1 / 1;
    grid-row: 3 / 3;
}

/* End of Our Team Section CSS - Desktop */

/* =============== Contact Us Section CSS - Desktop =============== */

.ContactUs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	gap: 1em;
}

.ContactHeader {
	grid-column: 1;
	grid-row: 1;
	align-self:flex-start;
}

.EmailUs {
	grid-column: 1 / 1;
    grid-row: 2 / 2;
	display:flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.Location {
	grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.Hours {
	grid-column: 1 / span 2;
    grid-row: 3 / 3;
}

/* End of Contact Us Section CSS - Desktop */

/* =============== Footer Section CSS - Desktop =============== */



/* End of Footer Section CSS - Desktop */

} /* Desktop media screen bracket ends here */

/* **************** Desktop Styling Ends Here **************** */
/* ********************************************************** */



/* ******************************************************************** */
/* *************** Extended Desktop Styling Begins Here *************** */

@media screen and (min-width: 1200px) {

	.Container, .Grid-Container{
		width: 1200px;
		margin: 0 auto;
	}

	.WelcomeWrapper, .VisionWrapper {
		width: 100%;
		margin: 0 auto;
	}

} /* Extended Desktop media screen bracket ends here */

/* Comments... I love comments!  LOL  }:-) */
